<a href="https://colab.research.google.com/github/Umang-Gisma/M505D/blob/main/M505D_11_FEB_T1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#1
print("==========1===========")
df = pd.read_csv("/content/M505D_Data/bank_data.csv")
print("Shap of dataset: ", df.shape)

#2
print("==========2===========")
df = df.join(pd.get_dummies(df['gender']))
df.drop("gender",axis=1,inplace=True)

df = df.join(pd.get_dummies(df['country']))
df.drop("country",axis=1,inplace=True)

print('retained' in df.columns)


#3
print("==========3===========")
y = df["retained"].to_numpy()
y_org = y.astype(float)

df.drop("retained",axis=1,inplace=True)
df.drop("last_name",axis=1,inplace=True)

x_org = df.values

print(x_org.shape)
print(y_org.shape)

#4
print("==========4===========")
x_train, x_test, y_train, y_test = train_test_split(x_org, y_org, test_size=0.2)

print("x_train",x_train.shape)
print("x_test",x_test.shape)

#5
print("==========5===========")
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

sm = SMOTE()
x_res, y_res = sm.fit_resample(x_train, y_train)

df_res = pd.DataFrame(x_res,columns=df.columns)
df_res["retained"] = y_res

df_res

==========1===========
Shap of dataset:  (10000, 13)
==========2===========
True
==========3===========
(10000, 14)
(10000,)
==========4===========
x_train (8000, 14)
x_test (2000, 14)
==========5===========

,id,credit_score,age,years_customer,balance_euros,num_products,has_credit_card,is_active,salary_euros,f,m,Austria,Germany,Switzerland,retained
0,1.620915,0.974358,0.773581,1.384104,-1.231216,0.804307,0.645120,-1.030464,0.230372,-0.911178,0.911178,-0.573694,-0.577158,0.995012,1.0
1,0.600323,-0.918023,-0.758784,-1.039290,0.574577,-0.909263,-1.550099,0.970437,1.500204,-0.911178,0.911178,-0.573694,1.732628,-1.005013,1.0
2,1.114190,-0.179787,0.103171,-0.346892,1.181321,-0.909263,-1.550099,0.970437,-1.131141,-0.911178,0.911178,-0.573694,-0.577158,0.995012,0.0
3,1.313673,2.076514,0.103171,1.384104,-1.231216,0.804307,-1.550099,0.970437,0.335646,-0.911178,0.911178,-0.573694,-0.577158,0.995012,1.0
4,0.497218,-0.273366,3.072129,0.691706,-1.231216,0.804307,0.645120,0.970437,0.155415,-0.911178,0.911178,-0.573694,-0.577158,0.995012,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12799,0.483232,-0.936214,0.438278,-0.520346,1.112388,2.517877,-1.550099,0.970437,-1.201707,-0.911178,0.911178,-0.573694,1.732628,-1.005013,0.0
12800,-0.385577,0.830938,-0.436074,1.001527,0.804505,0.984364,0.645120,-1.030464,-0.701020,1.097481,-1.097481,-0.573694,1.732628,-1.005013,0.0
12801,-1.108314,-0.753611,1.083649,-1.039290,-0.685629,-0.909263,0.645120,0.970437,-0.757743,1.097481,-1.097481,-0.573694,-0.577158,0.995012,0.0
12802,-0.145242,-1.418266,-0.462291,0.881387,-1.231216,-0.909263,0.645120,-1.030464,0.156826,1.097481,-1.097481,1.743090,-0.577158,-1.005013,0.0
12803,1.327199,0.526347,1.013712,1.379054,-1.231216,-0.909263,0.645120,-1.030464,0.088627,1.097481,-1.097481,-0.573694,-0.577158,0.995012,0.0