<a href="https://colab.research.google.com/github/Umang-Gisma/M505D/blob/main/M505D_11_FEB_T1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

df = pd.read_csv("/content/M505D_Data/bank_data.csv")
print("Shap of dataset: ", df.shape)

df = df.join(pd.get_dummies(df['gender']))
df.drop("gender",axis=1,inplace=True)

df = df.join(pd.get_dummies(df['country']))
df.drop("country",axis=1,inplace=True)

df

print('retained' in df.columns)


y = df["retained"].to_numpy()
y_org = y.astype(float)

df.drop("retained",axis=1,inplace=True)
df.drop("last_name",axis=1,inplace=True)

x_org = df.values

print(x_org.shape)
print(y_org.shape)

x_train, x_test, y_train, y_test = train_test_split(x_org, y_org, test_size=0.2)

print("x_train",x_train.shape)
print("x_test",x_test.shape)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)

sm = SMOTE()
x_res, y_res = sm.fit_resample(x_train, y_train)

df_res = pd.DataFrame(x_res,columns=df.columns)
df_res["retained"] = y_res

df_res

Shap of dataset:  (10000, 13)
True
(10000, 14)
(10000,)
x_train (8000, 14)
x_test (2000, 14)

,id,credit_score,age,years_customer,balance_euros,num_products,has_credit_card,is_active,salary_euros,f,m,Austria,Germany,Switzerland,retained
0,-0.293471,1.070657,0.014806,0.690194,1.304877,0.813946,0.644926,-1.031238,0.582506,-0.911637,0.911637,1.768606,-0.580045,-1.012073,0.0
1,-1.680533,1.349757,-0.653837,0.343885,1.134630,-0.917393,0.644926,0.969709,-1.043389,-0.911637,0.911637,-0.565417,-0.580045,0.988071,1.0
2,-0.605838,0.223019,0.396887,-0.002424,-1.231631,-0.917393,-1.550566,-1.031238,-0.630264,-0.911637,0.911637,-0.565417,-0.580045,0.988071,1.0
3,-0.825009,0.760546,-0.462796,-1.041351,1.253304,0.813946,-1.550566,-1.031238,-0.374256,-0.911637,0.911637,-0.565417,-0.580045,0.988071,1.0
4,-0.521766,0.067963,0.110326,1.729121,-1.231631,0.813946,0.644926,0.969709,-0.818737,-0.911637,0.911637,1.768606,-0.580045,-1.012073,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12741,0.351521,-2.043744,0.631428,0.173819,-1.231631,-0.917393,0.644926,-1.031238,0.942692,1.096927,-1.096927,-0.565417,-0.580045,0.988071,0.0
12742,-1.201468,-0.909210,0.930707,-0.317068,-1.231631,-0.917393,0.644926,0.969709,-0.063638,-0.911637,0.911637,-0.565417,-0.580045,0.988071,0.0
12743,-0.598601,-0.493001,0.544896,-0.968203,0.382989,-0.234573,0.644926,-1.031238,1.623094,-0.911637,0.911637,-0.565417,1.724005,-1.012073,0.0
12744,-1.449915,0.978727,0.772104,0.059442,1.256725,-0.917393,0.644926,-1.031238,1.060402,-0.911637,0.911637,-0.565417,-0.580045,0.988071,0.0
12745,-1.025580,0.616207,0.587928,-1.041351,0.659515,0.277648,-1.550566,-1.031238,-1.064556,-0.911637,0.911637,-0.565417,1.724005,-1.012073,0.0